{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4">
            <img class="img-fluid jumbotron-logo" src="{% static 'images/nueuibloglogo.png' %}">
        </h1>
        <p class="lead text-uppercase">YOUR PASSWORD WAS UPDATED SUCCESSFULLY!</p>
        <div class="flexed">
            <a class="about-link btn" href="/">BACK TO BLOG</a>
        </div>
    </div>
</div>
{% endblock %}
